@import "partials/bootstrap"; //version 4.5.3
@import "partials/mixins";

body {
    background: #fff;
    color: #000;
    font-family: "RobotoL", sans-serif;
    font-weight: 300;
}


a:active,
a:visited,
a:focus {
    color: inherit;
}

a:hover {
    color: #a20d01;
    text-decoration: none;
}

button,
input[type="button"] {
    background: #f50;
    color: #fff;
    border: none;
    border-bottom: 1px solid #ca4502;
    cursor: pointer;
}

button:hover,
input[type="button"]:hover {
    background: #a20d01;
}

button a,
button a:hover,
button a:active,
button a:visited,
button a:focus {
    color: #fff;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "RobotoR";
}

body>footer {
    background: #ccc;
    border-top: 3px solid #808080;
}

body>footer p {
    font-size: 13px;
    text-align: center;
    margin: 0;
    padding: 25px 0;
}

.nav-seperator::after {
    content: '';
    display: block;
    height: 4px;
    width: 100%;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(230, 230, 230, 1) 25%, rgba(230, 230, 230, 1) 75%, rgba(255, 255, 255, 1) 100%);
}

body>header ul,
body>header ul li {
    list-style: none;
    list-style-type: none;
    display: inline-block;
}

body>header .primary-menu img {
    width: 15px;
    height: auto;
}

html,
body {
    margin: 0;
    padding: 0;
    background: #fff;
    color: #000;
    font-family: "RobotoL";
}

.main-content {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* aside search box
========================*/
.fancySidebar {
    position: relative;

    &::before {
        content: "";
        display: none;
        width: 40px;
        height: 100%;
        background-image: url('../images/shadow before.jpg');
        background-repeat: no-repeat;
        position: absolute;
        background-position: top;
        background-size: cover;
        left: -45px;
        bottom: 0;
    }

    &::after {
        content: "";
        display: none;
        width: 40px;
        height: 100%;
        background-image: url('../images/shadow after.jpg');
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        position: absolute;
        right: -45px;
        bottom: 0;
    }
}

.dashed-2 {
    border: none;
    height: 2px;
    background: #D3D3D3;
    background: repeating-linear-gradient(90deg, #D3D3D3, #D3D3D3 6px, transparent 6px, transparent 12px);
}

/* section hotel list
========================*/
section.hotel-list article.hotel:last-of-type {
    border-bottom: 1px dotted #757575;
}

section.hotel-list article.hotel:last-child {
    border-bottom: none;
}

article.hotel h1 {
    color: #000;
    text-transform: uppercase;
}

article.hotel h2 {
    color: #bcbcbc;
    text-transform: uppercase;
}

article.hotel p {
    color: #333;
    font-size: 14px;
    line-height: 1.2;

}

.price-per-night {
    background-color: #757575;
}

.count-and-type {
    background-color: #eeeeee;
}

.type-of-room {
    &::before {
        content: "";
        display: none;
        position: absolute;
        width: 1px;
        height: 100%;
        border-left: 1px solid;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 15px;
        left: 0;
    }

}

.border-left-orange {
    border-left: 3px solid var(--orange);
}

/* Scroll to top button
======================== */

.scroll-top-trigger {


    &:focus-visible,
    &:focus {
        outline: none;
    }

    outline: none;
    bottom: 45px;
    position: fixed;
    right: 15px;
    padding: 5px 10px;
    transition: all .15s ease-in 0s;
}

/* ------------------ GLOBAL ELEMENTS */

@font-face {
    font-family: "RobotoR";
    font-weight: 400;
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "RobotoL";
    font-weight: 300;
    src: url("../fonts/Roboto-Light.ttf");
}

// breakpoints
.nav-item:not(:first-of-type) {
    border-left: none;
}

button.navbar-toggler {
    background-color: transparent;
}

.main-header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    background: white;
}

//OFF-CANVAS
@media (max-width: 959px) {
    .offcanvas-collapse {
        text-align: center;
        z-index: 100;
        position: fixed;
        /* Height of navbar */
        bottom: 0;
        right: 100%;
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
        background-color: white;
        transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
        transition: transform .3s ease-in-out, visibility .3s ease-in-out;
        transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    }

    .offcanvas-collapse ul {
        text-align: center;
        font-size: 2rem;
        line-height: 2;
        margin-top: 50px;
    }

    .offcanvas-collapse.open {
        visibility: visible;
        -webkit-transform: translateX(+100%);
        transform: translateX(+100%);
    }
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}


/****************************
*** LARGER MOBILE DEVICES ***
*****************************/
@media only screen and (min-width: 640px) {
    .type-of-room {
        &::before {
            display: block;
        }

    }
}

/*******************************
*** TABLET & SMALLER LAPTOPS ***
********************************/
@media only screen and (min-width: 960px) {
    .scrolltotop {
        bottom: 20px;
    }

    .nav-item:not(:first-of-type) {
        border-left: 1px dashed gray;
    }

}

/**************
*** DESKTOP ***
***************/
@media only screen and (min-width: 1200px) {
    .main-content {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .fancySidebar {

        &::after,
        &::before {
            display: block;
        }
    }
}

/*************************
*** LARGE VIEWING SIZE ***
**************************/
@media only screen and (min-width: 1600px) {
    .scrolltotop {
        bottom: 70px;
    }
}